@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

/*
Fonts
 */

@font-face {
    src: url("/assets/fonts/Karla-Regular.ttf");
    fontFamily: Karla;
    fontWeight: normal;
    fontStyle: normal;
}

@font-face {
    src: url("/assets/fonts/Karla-Bold.ttf");
    fontFamily: Karla;
    fontWeight: bold;
    fontStyle: normal;
}

/*
Labels
 */

s|Label {
    font-family: Arial;
    color: #5A5A5A;
    fontSize: 12;
    paddingTop: 2;
}

s|Label.header {
    fontWeight: bold;
    fontSize: 16;
}

s|Label.primary {
    fontWeight: bold;
    color: #FFFFFF;
}

s|Label.secondary {
    fontWeight: normal;
    color: #5A5A5A;
}

s|TextInput {
    skinClass: ClassReference("skins.TextInputSkin");
    focusAlpha: 0;
}

s|CheckBox {
    skinClass: ClassReference("skins.CheckBoxSkin");
}

/*
Scrollbars
 */

s|VScrollBar {
    skinClass: ClassReference("skins.scrollbars.VScrollBarSkin");
}

s|HScrollBar {
    skinClass: ClassReference("skins.scrollbars.HScrollBarSkin");
}

.scrollBar {
    thumb_color: #d3d3d3;
    track_color: #eeeeee;
}

/*
Sliders
 */

s|HSlider {
    skinClass: ClassReference("skins.sliders.HSliderSkin");
}

.slider {
    thumb_color: #d3d3d3;
    track_color: #eeeeee;
}

/*
Buttons
 */

s|Button {
    skinClass: ClassReference("skins.buttons.SecondaryButtonSkin");
}

s|ToggleButton {
    skinClass: ClassReference("skins.buttons.ToggleButtonSkin");
}

/*
Miscellaneous
 */

s|Panel {
    skinClass: ClassReference("skins.PanelSkin");
}

global {
    modalTransparency: 0.4;
    modalTransparencyBlur: 0;
    modalTransparencyColor: black;
    modalTransparencyDuration: 0;
}